
p {
  color: blue;
  font-size: 30px;
  background: yellow;
  padding: 20px;
  width: 240px;
  border: 5px solid black;
  margin: 0;
}

.boxes {
  margin: 10px auto;
  padding: 40px;
  width: 290px;
  background: green;
}
