h1 {
  color: blue;
}

h2 {
  color: orange;
}

.foods {
  list-style: square;
  color: blue;
}

.fruits {
  list-style: disc;
  color: black;
}

.vegetables {
  color: black;
}

.red-dot {
  color: red
}
